body {
  font-family: "Comfortaa", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #1a1a2b;
  color: #fff;
}

.container {
  margin: 0 auto;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.settings-section {
  width: calc(30.33% - 20px);
  margin: 10px;
  padding: 20px;
  background-color: #2e2e4c;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  display: inline-block;
  vertical-align: top;
  transition: transform 0.3s;
}

.settings-section:hover {
  transform: translateY(-5px);
}

.section-title {
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.section-content {
  font-size: 16px;
  line-height: 1.6;
}

.icon-button {
  font-size: 20px;
  cursor: pointer;
  color: #fff;
  background-color: #6B52A3;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  margin-right: 10px;
  transition: opacity 0.3s;
}

.icon-button:hover {
  opacity: 0.8;
}

.input-field {
  font-size: 16px;
  padding: 8px;
  border: 1px solid #6B52A3;
  border-radius: 5px;
  margin-bottom: 10px;
  width: 95%;
  background-color: #3b3b5c;
  color: #fff;
}

.button-section {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  align-items: center;
  align-content: center;
  align-self: center;
}