body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #1a1a2b;
    color: #fff;
}

.tab-container {
    flex-grow: 1;
    padding: 10px;
    background-color: #1a1a2b;
    display: flex;
    flex-direction: column;
}

.inputcontainermain{
  flex-grow: 1;
  flex-direction: row-reverse;
}

.input-container {
    display: flex;
    align-items: center;
    padding: 5px;
    background-color: #2a2a3d;
    border-radius: 5px;
}

.search {
    flex-grow: 0;
    padding: 12.5px 10px;
    border: none;
    width: 95%;
    border-radius: 5px;
    background-color: #2a2a3d;
    color: #fff;
}

.tabs {
    list-style: none;
    padding: 0;
    max-width: 100%;
    margin: 0;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: hidden;
    border-bottom: 0.025px solid white;
    background-color: #1a1a2b;
}

#add-tab-btn, #closetabbtn {
    position: relative;
    padding: 10px 10px;
    cursor: pointer;
    border: 1px solid #1a1a2b;
    border-right: none;
    background-color: #2a2a3d;
    display: flex;
    align-items: center;
}

.tabs li {
    position: relative;
    margin-left: 1px;
    padding: 10px 15px;
    cursor: pointer;
    min-width: 0px;
    max-width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    border: 1px solid #2a2a3d;
    background-color: #1a1a2b;
    display: flex;
    align-items: center;
    z-index: 1;
}

.tabs li.active {
    background-color: #2a2a3d;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.tabs li i {
    margin-right: 5px;
}

.tab-panels {
    flex-grow: 1;
    border: 1px solid #1a1a2b;
    padding: 10px;
    background-color: #1a1a2b;
    overflow: hidden;
}

.tab-panel {
    display: none;
    height: 100%;
}

.tab-panel.active {
    display: block;
}

iframe {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    border: none;
}

.input-container {
    display: flex;
    justify-content: flex-end;
    padding: 5px;
    margin-top: 5px;
    background-color: #1a1a2b;
}

.refresh-btn, .back-btn, .forward-btn {
    font-size: 18px;
    margin-right: 5px;
    cursor: pointer;
    background-color: transparent;
    border: none;
    color: #fff;
}

.input-container button.disabled {
    opacity: 0.3;
    cursor: default;
}

.dropdown {
    position: relative;
    margin-right: 30px;
    padding: 10px;
}

.dropdown-button {
    background-color: #6B52A3;
    color: #FFF;
    border-radius: 5px;
    padding: 5px 10px;
    margin: 0 auto;
    font-size: 16px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #1a1a2b;
    color: #FFF;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 5px;
    min-width: 150px;
}

.dropdown-content a {
    color: #FFF;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #5B3A75;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:not(:hover) .dropdown-button i {
    transform: rotate(-90deg);
}

.dropdown-button i {
    transition: transform 0.5s;
}

#bookmarks-bar {
    display: block;
    position: relative;
    margin-top: -5%;
    border-bottom: 1px solid #fff;
    align-items: center;
    height: 32px;
    background-color: #2a2a3d; /* Darker background color for the bookmarks bar */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 0 10px;
    flex-wrap: wrap;
}

#bookmarks-panel a {
    display: inline-flex;
    align-items: center;
    margin-right: 10px;
    margin-bottom: 5px;
    padding: 0 10px;
    height: 24px; /* Adjust the height of bookmarks */
    text-decoration: none;
    color: #fff; /* White text color for bookmark links */
    border-radius: 5px;
    transition: background-color 0.3s;
    background-color: #1a1a2b; /* Background color for bookmarks links */
}

#bookmarks-panel a:hover {
    background-color: #5B3A75; /* Hover background color for bookmarks links */
}

#bookmarks-panel button {
    cursor: pointer;
    padding: 5px;
    color: #fff;
    font-size: 12px;
    border: none;
    border-radius: 5px;
    margin-right: 10px;
    background-color: #6B52A3; /* Background color for bookmark buttons */
}

#bookmarks-btn:hover {
    background-color: #4C2C63; /* Hover background color for bookmark buttons */
}

/* Additional CSS for bookmark icons */
#bookmarks-bar img {
    width: 16px;
    height: 16px;
    margin-right: 5px;
}

#bookmarks-bar span {
    max-width: 100px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.bookmarks-dropdown {
    position: absolute;
    top: 100%;
    right: 0;
    width: 100%;
    background-color: #f0f0f0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 10px;
    overflow-y: auto;
    display: none;
    border-radius: 5px; /* Add border-radius to the bookmarks dropdown */
}

/* Style for the bookmarks dropdown links */
.bookmarks-dropdown a {
    display: block;
    padding: 5px;
    text-decoration: none;
    color: #2a2a3d;
    transition: background-color 0.3s;
}

.bookmarks-dropdown a:hover {
    background-color: #5B3A75;
}

#bookmarks-panel:hover .bookmarks-dropdown {
    display: block; 
}

.bookmark-popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    width:400px;
    height:400px;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: #2a2a3d;
    color: #fff; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    z-index: 9999;
}

.bookmark-popup h2 {
    margin-bottom: 10px;
}

.bookmark-popup input[type="text"] {
    display: block;
    width:90%;
    margin:5px auto;
    margin-bottom: 10px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #1a1a2b; /* Input background color */
    color: #fff; /* Input text color */
}

.bookmark-popup input[type="text"]::placeholder {
    color: #ccc; 
}

.bookmark-popup button {
    padding: 8px 16px;
    border: none;
    border-radius: 5px;
    background-color: #6B52A3; /* Button background color */
    color: #fff; /* Button text color */
    cursor: pointer;
    transition: background-color 0.3s;
}

.bookmark-popup button.cancel-btn {
    background-color: #4C2C63; /* Cancel button background color */
    margin-right: 10px;
}

.bookmark-popup button.save-btn {
    background-color: #3A9259; /* Save button background color */
}

.bookmark-popup button:hover {
    background-color: #8F6CAF; /* Hover background color for buttons */
}

.button-container {
    display: flex;
    justify-content: space-between;
}

#bookmarks-overflow {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #f0f0f0;
    box-shadow: -2px 0 4px rgba(0, 0, 0, 0.1);
    padding: 10px;
    overflow-y: auto;
    z-index: 2;
  }
  
  #bookmarks-overflow.show {
    display: block;
  }
  
  .bookmark-item {
    /* Add your existing styles here, if any */
    /* For example: */
    display: inline-flex;
    align-items: center;
    margin-right: 10px;
    margin-bottom: 5px;
    padding: 0 10px;
    height: 24px;
    text-decoration: none;
    color: #FFF;
    border-radius: 5px;
    background-color: #6B52A3;
    transition: background-color 0.3s;
  }
  