html, body {
  margin: 0;
  padding: 0;
  border-bottom-style: solid;
  border-bottom-color: #232b39;
  border-bottom-width: 1px;
  overflow:hidden;
  background-color: #0a0d15;
  color: #e5e5e5;
}

.control-row {
  position: fixed;
  top: 0;
  left: 0;
  width: fit-content;
  height: 2.5%;
  margin-top: 2.5%;
  border-bottom-style: solid;
  border-bottom-color: #232b39;
  border-bottom-width: 2px;
  display: flex;
  padding: 7.5px;
  padding-right: 10px;
  padding-left: 10px;
  align-items: center;
  background-color: #0a0d15;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

.url {
  margin: 10px 10px;
  border: none;
  height: 20px;
  background-color: #232b39;
  align-self: center;
  border-radius: 5px;
  width: 79.5vmax;
  color: #e5e5e5;
  text-align: center;
  padding: 5px;
  font-size: 15px;
  font-weight: 300;
  font-family: 'Open Sans', sans-serif;
}

.url::placeholder {
  color: #a0a8b7;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

.url:focus {
  outline: none;
}

.url:focus::placeholder {
  color: transparent;
}

.right-control-row {
  display: flex;
  padding-right: 50px;
  align-items: center;
}

#right-control {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: #232b39;
  padding: 5px;
  width: 22px;
  height: 15px;
  border-radius: 5px;
  margin-right: 15px;
}

#right-control i {
  margin-right: 1px;
  color: #a0a8b7;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

i {
  margin-right: 10px;
  color: #a0a8b7;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tab-control {
  display: flex;
  background-color: #0a0d15;
  padding: 4px;
  z-index:-1;
  width:99%;
  padding-right: 15px;
  height: 30px;
  padding-left: 15px;
  top:0;
  overflow: hidden;
}

.tab {
  flex: 1;
  padding-right: 0px;
  font-family: 'Open Sans', sans-serif;
  padding-left: 15px;
  margin-top: 2px;
  margin-right: 5px;
  background-color: #232b39;
  cursor: pointer;
  text-align: left;
  color: #e5e5e5;
  border-radius: 5px;
  height: 30px;
  width:fit-content;
  max-width: 150px;
  transition: background-color 0.3s ease;
  overflow: hidden;
  display: flex;
  align-items: center;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.tab:hover {
  background-color: #12202b;
}


.open-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5px;
  padding: 5px;
  width: 25px;
  border-radius: 55px;
  text-align: center;
  margin-left: 15px;
}

.open-btn:hover{
  background-color: #232b39;
}
.close-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: -2px;
  background-color: #232b39;
  padding: 5px;
  width: 25px;
  border-radius: 5px;
  text-align: center;
  margin-left: 15px;
}

.close-btn-tab {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: -2px;
  padding: 5px;
  width: 25px;
  border-radius: 55px;
  text-align: center;
  margin-left: 15px;
}

.close-btn-tab:hover{
  background-color: #232b39;
}

.close-btn-tab i {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #a0a8b7;
}

.open-btn i,
.close-btn i {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #a0a8b7;
}

#iframe-container iframe {
  position: absolute;
  top: 10%;
  overflow:scroll;
  left: 0;
  right: 0;
  bottom: 0;
  border: none;
  z-index:-1000;
  width: 100vmax;
  height: calc(100% - 30px); 
}


#suggestions-list {
  position: absolute;
  top: 45%;
  left: 7.95vmax;
  right:8vmax;
  width: 83vmax;
  align-self: center;
  z-index: 9999;
  background-color: #232b39;
  border-radius: 5px;
  padding: 0;
  list-style: none;
  max-height: 150px;
  overflow-y: auto;
  z-index: 1;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.suggestion-item {
  padding: 8px;
  cursor: pointer;
  z-index: 9999;
  text-transform: capitalize;
  color: #e5e5e5;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
}

.suggestion-item:hover {
  background-color: #12202b;
}

.tab.active{
  background-color: #12102b;
}

/* Main.css */

.mainbody {
  background-color: #1a1a32;
  margin-top: -2%;
  overflow: auto;
  height:100vmax;
  padding:0;
  font-family: Arial, sans-serif;
}

.mainheading {
  background-color: #1a1a32;
  padding: 10px;
  margin-top: 10.5%;
  z-index:-1000;
  text-align: center;
}

.heading {
  font-size: 70px;
  margin-top: 10.5%;
  color: #ffffff;
  margin: 20px 0;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.search-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top:-15.5%;
  justify-content: center;
  height: 80vh;
}

.mainurl {
  border: 1px solid #383858;
  border-radius: 24px;
  height: 36px;
  width: 500px;
  padding: 6px 12px;
  font-size: 16px;
  font-family: Arial, sans-serif;
  background-color: #212139;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  color: #ffffff;
}

.mainurl:focus{
  outline:none;
}

.shortcuts {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 10px;
  margin-top: 20px;
}

.shortcuts a {
  text-decoration: none;
  color: #ffffff;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  font-family: 'Nunito', sans-serif;
  padding-top:3px;
  padding-bottom: 3px;
  align-items: center;
  transition: transform 0.3s ease-in-out;
}

.shortcuts a:hover {
  background-color: rgba(255, 255, 255, 0.1);
  transform: translateY(-5px);
}

.shortcuts img {
  width: auto;
  height: 50px;
  margin-bottom: 5px;
}

.shortcuts span {
  font-size: 14px;
  font-weight: normal;
  font-family: 'Nunito', sans-serif;
}

.mainsgtlist #suggestions-list {
  list-style-type: none;
  padding: 0;
  position: absolute;
  top: 53.5%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 1;
  z-index: 9999;
  color:#333;
  border-radius: 5px;
  background-color: #212139;
  align-items: center;
  width: 30%;
}

.mainsgtlist .suggestion-item {
  padding: 10px;
  z-index: 9999;
  color: #ffffff;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  text-transform: capitalize;
  margin-bottom: 5px;
}


.mainsgtlist .suggestion-item:hover {
  background-color: #3a2967;
  text-transform: capitalize;
}


.mainsgtlist .suggestion-item span {
  color: #ffffff;
  text-transform: capitalize;
  font-family: 'Nunito', sans-serif;
  font-size: 16px;
}

.mainsgtlist .suggestion-item .suggestion-url {
  color: #aaaaaa;
  text-transform: capitalize;
  font-family: Arial, sans-serif;
  font-size: 14px;
}
