body {
  font-family: "Comfortaa", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #1a1a2b;
  color: #fff;
  overflow: hidden;
}

.mainheading {
  text-align: center;
}

.heading {
  font-family: "Bebas Neue", sans-serif;
  font-size: 90px;
  margin-top: 1%;
  text-transform: none;
  padding-top: 10vh;
}

.search-container {
  display: flex;
  flex-direction: column;
  margin-top: -7%;
  align-items: center;
  padding-top: 10vh;
}

#uv-form {
  position: relative;
}


.mainurl {
  font-family: "Exo 2", sans-serif;
  font-size: 20px;
  padding: 8px;
  border: 1px solid #6B52A3;
  border-radius: 5px;
  width: 300px;
  background-color: #3b3b5c;
  color: #fff;
  margin-top: 4vh;
  margin-bottom: 3vh;
}

.mainurl:focus{
  outline:none;
  border-width: 2px;
}

.shortcuts {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 15px;
  justify-content: center;
}

.shortcuts a {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  color: #fff;
  background-color: #2e2e4c;
  border-radius: 5px;
  padding: 10px;
  width: 100px;
}

.shortcuts img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.shortcuts span {
  margin-top: 10px;
  font-family: "Exo 2", sans-serif;
  font-size: 14px;
}

.shortcuts a:hover {
  background-color: #6B52A3;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transform: translateY(-5px);
}

#custom-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 9999;
}

#custom-menu ul {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  list-style: none;
  padding: 0;
}

#custom-menu li {
  margin: 10px 0;
}

#custom-menu li a {
  color: #fff;
  text-decoration: none;
  font-family: "Exo 2", sans-serif;
}

#custom-menu li a i {
  margin-right: 5px;
}

#custom-menu li:hover {
  background-color: rgba(255, 255, 255, 0.3);
  padding: 8px 15px;
  border-radius: 5px;
  cursor: pointer;
}

#custom-menu li:hover a {
  color: #fff;
}

#custom-menu li:focus {
  outline: none;
}

#custom-menu li:focus a {
  color: #fff;
}

#content {
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 20px;
  color: #fff;
  font-family: "Exo 2", sans-serif;
}

#section {
  margin-right: 20px;
  display: inline-block;
}

#uv-search-engine {
  display: none;
}

#uv-search-engine[value^="https://www.google.com"] {
  display: block;
}
